{% template email_provider_logo %}
{% assign classes = classess | default: "image-stroke w--8" %}

{% if email_provider == "gmail" %}
<svg class="{{classes}}"  xmlns="http://www.w3.org/2000/svg"
  aria-label="Gmail" role="img"
  viewBox="0 0 512 512"><rect
                          rx="15%"
                          fill="#ffffff"/><path d="M158 391v-142l-82-63V361q0 30 30 30" fill="#4285f4"/><path d="M 154 248l102 77l102-77v-98l-102 77l-102-77" fill="#ea4335"/><path d="M354 391v-142l82-63V361q0 30-30 30" fill="#34a853"/><path d="M76 188l82 63v-98l-30-23c-27-21-52 0-52 26" fill="#c5221f"/><path d="M436 188l-82 63v-98l30-23c27-21 52 0 52 26" fill="#fbbc04"/></svg>
{% elsif email_provider == "outlook" %}
<svg class="{{classes}}" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
  viewBox="0 0 16.376 16.376" xml:space="preserve">
  <g>
    <g>
      <path style="fill:#030104;" d="M16.376,6.059c0-0.3-0.215-0.544-0.478-0.544h-4.697v1.087h3.717L12.48,8.611l-1.279-1.048v1.379
        l1.003,0.813c0.163,0.132,0.392,0.132,0.555-0.001l2.661-2.157v2.873h-4.219v1.087h4.697c0.263,0,0.478-0.243,0.478-0.544V6.541
        c0-0.013-0.001-0.025-0.002-0.038c0.001-0.013,0.002-0.026,0.002-0.038C16.376,6.465,16.376,6.059,16.376,6.059z"/>
      <path style="fill:#030104;" d="M5.115,10.433c0.686,0,1.126-0.904,1.126-2.253c0-1.119-0.325-2.253-1.126-2.253
        c-0.847,0-1.16,1.149-1.16,2.253C3.955,9.467,4.361,10.433,5.115,10.433z"/>
      <path style="fill:#030104;" d="M0,14.992l10.195,0.748V0.637L0,1.534V14.992z M5.162,4.272c1.741,0,2.902,1.578,2.902,3.831
        c0,2.743-1.475,4-2.995,4c-1.66,0-2.937-1.44-2.937-3.861C2.133,5.819,3.34,4.272,5.162,4.272z"/>
    </g>
  </g>
</svg>
{% elsif email_provider == "yahoo" %}
<svg fill="#000000" class="{{classes}}" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
  viewBox="-271 324 256 153" xml:space="preserve">
  <g>
    <path d="M-37.5,356.3c0.1,0,0.2,0,0.2,0l7.1-10.3c-0.1,0-0.3,0-0.4,0l0.7-1.1h-99.9l3.9,15.7h27.3l-46,41.5
      c-9.4-13-31.4-39.9-46.7-62.3h34.4v-12l0.4-2.6c-0.1,0-0.3-0.1-0.4-0.1V324H-271v15.8h33.8c13.1,10.3,63.4,73,65.4,79.2
      c0.8,5.9,1.6,40.4-0.9,43c-4.9,5.2-27.5,3.8-32.9,4.2l-1.9,10.7c9.9,0.3,42.2-0.8,52.2-0.8c19.8,0,54.4-0.1,59.3,0.3l0.6-11.2
      c-5-0.8-32.3-0.1-36-1c-0.8-5.4-1.7-41.8-0.9-45.6c3.9-10.9,61.2-55.1,67.5-56.8c1.4-0.3,3.5-0.8,5.9-1.3h18.5L-37.5,356.3z"/>
    <path d="M-48.2,447.8l15.3,1.2l17.9-69c-3-0.1-30.1-2.7-33.6-3.3L-48.2,447.8z"/>
    <polygon points="-50.8,458.9 -50.7,475.7 -43,476.4 -34.6,477 -32.1,460.5 -41,460.1 	"/>
  </g>
</svg>
{% elsif email_provider == "icloud" %}
<svg  class="{{classes}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 52"><linearGradient id="grad"><stop stop-color="#3e82f4" offset="0"/><stop stop-color="#93dcf7" offset="1"/></linearGradient><path fill="url(#grad)" d="M45.864 0.751A21.52 21.52 0 0 0 27.128 11.765 11.804 11.804 0 0 0 21.976 10.573 11.804 11.804 0 0 0 10.355 20.489 16.255 16.255 0 0 0 0.378 35.482 16.255 16.255 0 0 0 16.641 51.721a16.255 16.255 0 0 0 2.039-0.147h45.188a15.13 15.202 0 0 0 1.395-0.034h1.082V51.494A15.13 15.202 0 0 0 79.703 36.407V36.377A15.13 15.202 0 0 0 67.386 21.477 21.52 21.52 0 0 0 45.864 0.751Z"/></svg>
{% else %}
<svg  class="{{classes}}" ersion="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 512 512"  xml:space="preserve"><style type="text/css">	.st0{fill:#000000;}</style><g>	<path class="st0" d="M66.734,401.582c-5.902,0-11.421-1.551-16.135-4.277l139.049-121.182l12.979,11.294
		c10.863,9.44,24.46,14.22,37.93,14.22c13.536,0,27.133-4.78,37.996-14.22l12.973-11.294l47.074,41.038
		c5.324-8.971,11.939-17.054,19.613-24.038l-43.093-37.547L446.977,140.54v127.084c12.26,2.236,23.756,6.62,34.136,12.75V124.834
		c0-4.404-0.43-8.762-1.236-12.979c-2.175-10.925-7.016-20.922-13.778-29.181c-1.43-1.8-2.921-3.411-4.54-5.022
		c-11.978-12.046-28.804-19.56-47.182-19.56H66.734c-18.377,0-35.136,7.514-47.182,19.56c-1.612,1.611-3.102,3.222-4.532,5.022
		c-6.768,8.259-11.609,18.256-13.717,29.181C0.43,116.072,0,120.43,0,124.834v244.162c0,9.367,1.987,18.371,5.526,26.502
		c3.283,7.762,8.131,14.785,14.026,20.673c1.491,1.491,2.981,2.86,4.593,4.224c11.549,9.561,26.454,15.336,42.589,15.336h280.481
		c-8.118-10.032-14.436-21.567-18.412-34.15H66.734z M43.697,101.797c5.962-5.956,13.973-9.561,23.037-9.561h347.645
		c9.065,0,17.142,3.606,23.037,9.561c1.047,1.061,2.042,2.243,2.921,3.418L258.128,264.017c-5.029,4.405-11.24,6.581-17.571,6.581
		c-6.271,0-12.476-2.176-17.572-6.581L40.85,105.148C41.656,103.973,42.65,102.858,43.697,101.797z M34.136,368.997V140.479
		L166,255.51L34.203,370.42C34.136,369.984,34.136,369.494,34.136,368.997z"/>
	<path class="st0" d="M428.285,286.484c-46.235,0-83.702,37.48-83.702,83.715c0,46.228,37.467,83.708,83.702,83.708
		c46.242,0,83.715-37.48,83.715-83.708C512,323.963,474.527,286.484,428.285,286.484z M441.23,410.236h-20.331v-56.421h-0.242
		l-14.744,6.963l-3.076-17.82l20.654-9.441h17.74V410.236z"/>
</g>
</svg>{% endif %}
{% endtemplate %}

{% template main %}
<div class="layout layout--stretch layout--center">
  {% if data.error %}
  <div class="flex flex--col">
    <div class="description">{{data.error}}</div>
  </div>
  {% else %}

  {% assign group_by_date = trmnl.plugin_settings.custom_fields_values.group_by_date | default: "no" %}
  {% assign time_format = trmnl.plugin_settings.custom_fields_values.time_format | default: "24h" %}
  {% assign date_format = trmnl.plugin_settings.custom_fields_values.date_format | default: "short" %}
  {% assign offset_seconds = trmnl.user.utc_offset | default: 0 %}

  {% comment %} Calculate today and yesterday {% endcomment %}
  {% assign now_epoch = "now" | date: "%s" | plus: 0 %}
  {% assign now_adjusted = now_epoch | plus: offset_seconds %}
  {% assign today_date = now_adjusted | date: "%Y-%m-%d" %}
  {% assign yesterday_epoch = now_epoch | minus: 86400 %}
  {% assign yesterday_adjusted = yesterday_epoch | plus: offset_seconds %}
  {% assign yesterday_date = yesterday_adjusted | date: "%Y-%m-%d" %}

  <div class="columns" data-overflow-cols="{{columns | default: 2 }}">
    <div class="column">
      {% assign last_group = "" %}

      {% for message in data.messages %}
      {% assign timestamp_epoch = message.timestamp | date: "%s" | plus: 0 %}
      {% assign adjusted_epoch = timestamp_epoch | plus: offset_seconds %}
      {% assign message_date = adjusted_epoch | date: "%Y-%m-%d" %}

      {% comment %} Calculate group label if grouping is enabled {% endcomment %}
      {% if group_by_date == "yes" %}
      {% if message_date == today_date %}
      {% assign group_label = "Today" %}
      {% elsif message_date == yesterday_date %}
      {% assign group_label = "Yesterday" %}
      {% else %}
      {% if date_format == "medium" %}
      {% assign group_label = adjusted_epoch | date: "%b %-d, %Y" %}
      {% elsif date_format == "long" %}
      {% assign group_label = adjusted_epoch | date: "%B %-d, %Y" %}
      {% elsif date_format == "numeric" %}
      {% assign group_label = adjusted_epoch | date: "%m/%d/%y" %}
      {% elsif date_format == "iso" %}
      {% assign group_label = adjusted_epoch | date: "%Y-%m-%d" %}
      {% else %}
      {% assign group_label = adjusted_epoch | date: "%b %-d" %}
      {% endif %}
      {% endif %}

      {% comment %} Add group header if changed {% endcomment %}
      {% if group_label != last_group %}
      <span class="label label--medium group-header mt--1" data-group-header="true">{{ group_label }}</span>
      {% assign last_group = group_label %}
      {% endif %}
      {% endif %}

      {% comment %} Email item {% endcomment %}
      <div class="item">
        <div class="meta w--10 rounded">
          {% if message.flagged %}
          <svg class="image-stroke w--8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          {% elsif message.read %}
          <svg class="image-stroke w--8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 9.00005L10.2 13.65C11.2667 14.45 12.7333 14.45 13.8 13.65L20 9" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3 9.17681C3 8.45047 3.39378 7.78123 4.02871 7.42849L11.0287 3.5396C11.6328 3.20402 12.3672 3.20402 12.9713 3.5396L19.9713 7.42849C20.6062 7.78123 21 8.45047 21 9.17681V17C21 18.1046 20.1046 19 19 19H5C3.89543 19 3 18.1046 3 17V9.17681Z" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
          </svg>
          {% else %}
          <svg class="image-stroke w--8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <rect x="3" y="5" width="18" height="14" rx="2" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
          </svg>
          {% endif %}
        </div>
        <div class="content">
          {% assign subject_classes = "title title--small" %}
          {% if message.read and trmnl.plugin_settings.custom_fields_values.read_subject_regular == "yes" %}
          {% assign subject_classes = "description" %}
          {% endif %}
          <span class="{{subject_classes}}" data-clamp="3">{{message.subject}}</span>

          <div class="flex flex--row flex--wrap gap--small">
            {% comment %} Show time only if grouped, otherwise show time/date based on today {% endcomment %}
            {% if group_by_date == "yes" %}
            {% comment %} Grouped mode: always show time {% endcomment %}
            {% if time_format == "12h" %}
            <span class="label label--small">{{ adjusted_epoch | date: "%-I:%M %p" }} ·</span>
            {% else %}
            <span class="label label--small">{{ adjusted_epoch | date: "%H:%M" }} ·</span>
            {% endif %}
            {% else %}
            {% comment %} Ungrouped mode: show time for today, date for older {% endcomment %}
            {% if message_date == today_date %}
            {% if time_format == "12h" %}
            <span class="label label--small">{{ adjusted_epoch | date: "%-I:%M %p" }} ·</span>
            {% else %}
            <span class="label label--small">{{ adjusted_epoch | date: "%H:%M" }} ·</span>
            {% endif %}
            {% else %}
            {% if date_format == "medium" %}
            <span class="label label--small">{{ adjusted_epoch | date: "%b %-d, %Y" }} ·</span>
            {% elsif date_format == "long" %}
            <span class="label label--small">{{ adjusted_epoch | date: "%B %-d, %Y" }} ·</span>
            {% elsif date_format == "numeric" %}
            <span class="label label--small">{{ adjusted_epoch | date: "%m/%d/%y" }} ·</span>
            {% elsif date_format == "iso" %}
            <span class="label label--small">{{ adjusted_epoch | date: "%Y-%m-%d" }} ·</span>
            {% else %}
            <span class="label label--small">{{ adjusted_epoch | date: "%b %-d" }} ·</span>
            {% endif %}
            {% endif %}
            {% endif %}

            <span class="label label--small label--underline">
              {% if trmnl.plugin_settings.custom_fields_values.show_sender_email == "yes" %}
              {{message.sender_email}}
              {% else %}
              {{message.sender}}
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
<div class="title_bar">
  {% render "email_provider_logo": email_provider: trmnl.plugin_settings.custom_fields_values.provider %}
  <span class="title text-stroke">{{ data.email | default: trmnl.plugin_settings.custom_fields_values.email }}</span>
  {% assign show_instance = show_instance | default: "yes" %}
  {% if show_instance == "yes" %}
  <span class="instance">
    <div class="flex flex--row gap--small flex--right flex--center-y">
      <svg class="image-stroke w--8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 8.2C3 7.07989 3 6.51984 3.21799 6.09202C3.40973 5.71569 3.71569 5.40973 4.09202 5.21799C4.51984 5 5.0799 5 6.2 5H9.67452C10.1637 5 10.4083 5 10.6385 5.05526C10.8425 5.10425 11.0376 5.18506 11.2166 5.29472C11.4184 5.4184 11.5914 5.59135 11.9373 5.93726L12.0627 6.06274C12.4086 6.40865 12.5816 6.5816 12.7834 6.70528C12.9624 6.81494 13.1575 6.89575 13.3615 6.94474C13.5917 7 13.8363 7 14.3255 7H17.8C18.9201 7 19.4802 7 19.908 7.21799C20.2843 7.40973 20.5903 7.71569 20.782 8.09202C21 8.51984 21 9.0799 21 10.2V15.8C21 16.9201 21 17.4802 20.782 17.908C20.5903 18.2843 20.2843 18.5903 19.908 18.782C19.4802 19 18.9201 19 17.8 19H6.2C5.07989 19 4.51984 19 4.09202 18.782C3.71569 18.5903 3.40973 18.2843 3.21799 17.908C3 17.4802 3 16.9201 3 15.8V8.2Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      {{data.folder | capitalize }}

      {% if data.gmail_category %}
      <svg class="image-stroke w--8" fill="#000000" viewBox="-7.5 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <title>category</title>
        <path d="M2.594 4.781l-1.719 1.75h15.5l-1.719-1.75h-12.063zM17.219 13.406h-17.219v-6.031h17.219v6.031zM12.063 11.688v-1.719h-6.875v1.719h0.844v-0.875h5.156v0.875h0.875zM17.219 20.313h-17.219v-6.031h17.219v6.031zM12.063 18.594v-1.75h-6.875v1.75h0.844v-0.875h5.156v0.875h0.875zM17.219 27.188h-17.219v-6h17.219v6zM12.063 25.469v-1.719h-6.875v1.719h0.844v-0.875h5.156v0.875h0.875z"></path>
      </svg>
      {{data.gmail_category }}{% endif %}
    </div>

  </span>
  {% endif %}
</div>

<script />
  {% endtemplate %}